<app-modify-content (onCreation)="addContent($event)" ></app-modify-content>
<section class="searchForTitle">
    <div>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="searchTitle" placeholder="Search Title">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchByTitle()">Search</button>
    </div>

    <div *ngIf="titleFound !== null">
        <p [style.color]="titleFound ? 'green' : 'red'">
            {{titleFound ? 'Title Found' : 'Title not found'}}
        </p>
    </div>
</section>




<h1>No Type</h1>
<div *ngFor="let content of contentList | contentType" class="card no-type">
    <app-content-card [content]="content"></app-content-card>
</div>


<h1>I-OS</h1>
<div *ngFor="let content of contentList | contentType:'I-OS'" class="card i-os">
    <app-content-card [content]="content"></app-content-card>
</div>



<h1>Android</h1>
<div *ngFor="let content of contentList | contentType:'Android'" class="card android">
    <app-content-card [content]="content"></app-content-card>
</div>
