<mat-card class="card">
    <mat-card-header>
        <h1 [innerHTML]="content.title"></h1>
    </mat-card-header>
    <mat-card-content>
        <p [innerHTML]="content.description"></p>
        <p [innerHTML]="content.creator"></p>
        <p [innerHTML]="content.type" appHoverAffect [styleOnHover]="'underline'"></p>
        <div>
            <span *ngFor="let tag of content.tags" appHoverAffect [styleOnTags]="'bold'">{{tag}}, </span>
        </div>
        <div *ngIf="content.imgURL; else noImage">
            <img [src]="content.imgURL" (click)="handleClick(content)">
        </div>
        <ng-template #noImage>
            <img mat-card-image [src]="defaultPhoneImage" (click)="handleClick(content)">
        </ng-template>
    </mat-card-content>
</mat-card>