<div class="card">
    <h1>{{content.title}}</h1>

    <div *ngIf="content.imgURL; else defaultImage">
        <img  [src]="content.imgURL" alt="Default phone" (click)="handleClick(content)">
    </div>
    <ng-template #defaultImage>
        <img [src]="defaultPhoneImage" alt="Default phone" (click)="handleClick(content)">
    </ng-template>

    <p>{{content.description}}</p>
    <p>Creator: {{content.creator}}</p>
    <p appHoverAffect [styleOnHover]="'underline'">Type: {{content.type}}</p>
    <div> Tags: 
        <span *ngFor="let tag of content.tags" appHoverAffect [styleOnTags]="'bold'">{{tag}}, </span>
    </div>
</div>